.posts
    .post-title
        text-align: center;
        font: bold 28px sans-serif;
        line-height: 40px;
        margin-bottom: 10px;
    
    .post-content
        a
             color: #699be9;

    .fhr
        margin-top: 20px;

    .highlight
        .gutter
            .hljs
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;

    .highlight 
        .code
            .hljs
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
#top
    width 50px
    height 80px
    background rgba(85, 85, 85, 0.3) none repeat scroll 0% 0%
    position fixed
    bottom 5%
    right 3%
    text-align center
    cursor pointer
    a
        display block
        font-size 18px
        line-height 40px
        color #FFF
        text-decoration none
    a:hover
        background-color #3B494F
