<!DOCTYPE html>
<html lang="zh">
<%- partial('_partial/head') %>
<%- partial('_partial/title') %>
<body id="bodyx" class="bg_while">
    <%- body %>
    <%- partial('_partial/footer') %>
</body>

</html>
